<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>{% block title %}{% endblock %} - AnnotateIt - Annotating the Web</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&amp;subset=latin' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata&amp;subset=latin' rel='stylesheet' />
  <link rel="stylesheet" href="/static/main.css">
  {% endblock %}
</head>
<body>
  {% block body %}
  <div id="airlock">
    <header>
      <h1>Annotator</h1>
      <h2>The <span id="role">copy-editor</span> of the web</h2>
    </header>

   <div id="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="notification">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>

    <footer>
      {% block footer %}
      <p>The development of Annotator is supported by the <a
        href="http://okfn.org"> Open Knowledge Foundation</a>. Go see what
      other cool stuff we're doing at the moment!</p>

      <div id="account">
        {% if g.account_id %}
        Logged in &ndash;
        <a href="{{ url_for('account.view', id=g.account_id)}}">My Account</a>
        &ndash;
        <a href="{{ url_for('account.logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('account.login')}}">Login</a>
        &ndash;
        <a href="{{ url_for('account.signup')}}">Signup</a>
        {% endif %}
      </div>
      {% endblock %}
    </footer>
  </div>
  {% endblock %}
</body>
</html>

    </div>
  </body>
</html>
