<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>{% block title %}{% endblock %} - AnnotateIt - Annotating the Web</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&amp;subset=latin' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata&amp;subset=latin' rel='stylesheet' />
  <link rel="stylesheet" href="/static/main.css">
  {% endblock %}
</head>
<body>
  <div id="airlock">
    <header>
      {% block masthead %}
      <h1>
        <a href="{{url_for('.home')}}" title="The AnnotateIt Homepage">
          AnnotateIt</a>
      </h1>
      <!--
      <h2>The <span id="role">copy-editor</span> of the web</h2>
      -->
      <nav>
        <ul>
        {% if g.account_id %}
          <li><a href="{{ url_for('account.view', id=g.account_id)}}">My Account</a></li>
          <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{url_for('account.signup')}}">Sign Up</a></li>
          <li><a href="{{url_for('account.login')}}">Log In</a></li>
        {% endif %}
          <li><a href="{{url_for('.home')}}#annotator">Annotator</a></li>
          <li><a href="{{url_for('.home')}}#about">About</a></li>
        </ul>

      <div id="account">
      </div>
      </nav>
      {% endblock %}
    </header>

   <div id="content">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="notification">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>

    <footer>
      {% block footer %}
      <p>Annotator was developed by the <a href="http://okfn.org">Open
        Knowledge Foundation</a> with support from the <a
        href="http://www.shuttleworthfoundation.org/">Shuttleworth
        Foundation</a>. Go see what other cool stuff we're doing at the
      moment!</p>
      {% endblock %}
    </footer>
  </div>
</body>
</html>
