{% extends "base.html" %}
{% block title %}Log in{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="primary">
    <form method="post" action="">
      {{ form.csrf }}
      <dl>
        {{ render_field(form.email, placeholder="joe.bloggs@example.com") }}
        {{ render_field(form.password, placeholder="••••••••") }}
      </dl>
      <div class="actions">
        <button type="submit">Log in</button>
      </div>
    </form>
  </div>
{% endblock %}
