{% extends "base.html" %}
{% block title %}Log in{% endblock %}

{% block content %}
<h2>Log in</h2>
{% from "_formhelpers.html" import render_field %}
  <form method="post" action="">
    {{ form.hidden_tag() }}
    <dl>
      {{ render_field(form.login, placeholder="joe.bloggs") }}
      {{ render_field(form.password, placeholder="••••••••") }}
    </dl>
    <div class="actions">
      <button type="submit">Log in</button>
      <p>
        <a href="{{ url_for('.reset_password_request') }}">Forgot your password?</a>
      </p>
    </div>
  </form>
{% endblock %}
