{% extends "base.html" %}
{% block title %}View - Account{% endblock %}

{% block content %}
<h2>Hi {{account.username}}</h2>

<section>
<p>Your account details are:</p>

<dl>
  <dt>Email</dt>
  <dd>{{account.email}}</dd>
  <dt>Account ID</dt>
  <dd>{{account.id}}</dd>
  <dt>Secret</dt>
  <dd>{{account.secret}}</dd>
  <dt>Registered since</dt>
  <dd>{{account.created}}</dd>
  <dt>Your Auth Token (valid forever)</dt>
  <dd>
    <code>
      {{token}}
    </code>
  </dd>
</dl>
</section>

<section>
<h2>Recent Annotations</h2>
<ul class="annotations">
{% for anno in annotations %}
  <li class="annotation">
    <div>
      <span class="user">{{anno.user.id or 'Anonymous'}}</span> &ndash;
      <span class="created">
        {{anno.created}}
      </span>
    </div>
    <div>
      <a href="${{anno.uri or '#'}}">{{anno.uri or 'No url given'}}</a>
    </div>
    <div class="text">
      {{anno.text}}
    </div>
  </li>
{% endfor %}
</ul>
</section>

{% endblock %}
